@import "tailwindcss";

@layer base {
  * {
    border-color: #1E293B;
  }
  body {
    background-color: #090D16;
    color: #E2E8F0;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Technical Dashboard Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0B1120;
}

::-webkit-scrollbar-thumb {
  background: #1E293B;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563EB;
}

